@media (min-width: 768px) {
  .main__grid {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    margin-bottom: 186px;
    padding: 0 40px;
  }

  header {
    padding: 24px 40px;
  }

  h2 {
    padding: 56px 32px;
    max-width: 339px;
  }

  .block {
    &__gradient {
      padding: 0 40px 86px;
    }

    &__stats {
      position: relative;
      padding: 0;
      margin: 0;

      img {
        position: absolute;
        width: 640px;
        height: 640px;
        left: -50px;
        top: -225px;
        display: unset;
        margin: unset;
        z-index: -1;

        &:nth-child(2) {
          display: unset;
        }

        &:nth-child(1),
        &:nth-child(3) {
          display: none;
        }
      }
    }

    &__activities {
      margin-top: 56px;
      column-gap: 10px;
      row-gap: 56px;
    }

    &__activity {
      max-width: 339px;
    }
  }
  footer {
    padding: 36px 40px;
  }
}
