// Imports
@import "https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap";

// Variables
$white: hsl(0, 0%, 100%);
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);

// CSS
body {
  font-family: "Outfit", sans-serif;
  background-color: $main-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.card {
  background-color: $card-bg;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;

  &--title {
    color: $white;
  }

  &--blueText {
    color: $soft-blue;
  }

  h1 {
    font-weight: 600;
    color: $white;
    font-size: 1.3rem;
  }

  p {
    font-size: 18px;
    font-weight: 400;
  }

  &__img {
    position: relative;
  }

  &__img--nft {
    border-radius: 10px;
    width: 100%;
  }

  &__img--overlay {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(178, 100%, 50%, 0.6);
    border-radius: 10px;
    transition: 0.5s ease;
    opacity: 0;
  }

  &__img--overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card__img:hover &__img--overlay {
    opacity: 1;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__img--avatar {
    width: 30px;
    border: 2px solid grey;
    border-radius: 20px;
    vertical-align: -45%;
    margin-right: 12px;
  }

  &__infos {
    display: flex;
    justify-content: space-between;

    &--eth {
      color: $cyan;
    }

    &--timeleft {
      color: $soft-blue;
    }

    &--imgs {
      vertical-align: -12%;
      margin-right: 4px;
    }
  }

  &__credits {
    &--p {
      color: $soft-blue;
      border-top: 2px solid $line;
      padding-top: 20px;
    }

    &--author {
      color: $white;
    }
  }

  &__credits--author:hover,
  &--title:hover {
    color: $cyan;
    cursor: pointer;
  }
}
