// Imports
@import "https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap";

// Variables
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desatured-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$hover-color: hsl(245, 83%, 68%);

// CSS
body {
  font-family: "Red Hat Display", sans-serif;
  background: no-repeat $pale-blue url("../images/pattern-background-desktop.svg");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.card {
  background-color: #fff;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, .1);

  h1 {
    font-weight: 900;
    text-align: center;
    color: $dark-blue;
  }

  h4 {
    font-weight: 700;
    text-align: center;
    color: $dark-blue;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: $desatured-blue;
  }

  &__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }

  &__pricing,
  .btn--payment,
  .head--padding {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__pricing {
    align-items: center;
    background-color: $very-pale-blue;
    border-radius: 10px;
    height: 100px;

    &--img {
      width: 50px;
      height: 50px;
      float: left;
      margin-top: 25px;
      margin-left: 25px;
    }
  }

  .text {
    float: left;
    line-height: .1;
    margin-top: 16px;
    margin-left: 16px;
  }

  .btn--change {
    text-decoration: underline;
    color: $bright-blue;
    text-align: right;
    padding-top: 38px;
    margin-right: 25px;

    &:hover {
      text-decoration: none;
      color: $hover-color;
    }
  }

  .btn--change,
  .btn--payment,
  .btn--cancel-order {
    cursor: pointer;
  }

  .btn--payment {
    background-color: $bright-blue;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0px 20px 20px hsla(245, 75%, 52%, .2);
    height: 40px;
    line-height: 2.5;

    &:hover {
      background-color: $hover-color;
      box-shadow: 0px 20px 20px hsla(245, 83%, 68%, .2);
    }
  }

  .btn--cancel-order {
    padding-bottom: 1rem;

    &:hover {
      color: $dark-blue;
    }
  }

  h1,
  .btn--payment,
  .btn--cancel-order {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 376px) {
  body {
    background: no-repeat $pale-blue url("../images/pattern-background-mobile.svg");
  }

  .card {
    width: 310px;

    .text {
      margin-top: 3px;
      margin-left: 10px;
    }

    &__pricing {
      height: 70px;
  
      &--img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
        margin-left: 15px;
      }
    }

    .btn--change {
      padding-top: 25px;
      margin-right: 15px;
      font-size: 14px;
    }
  }
}
