body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg;
  padding: 16px 32px;
  transition: all 0.5s;
}

main {
  max-width: 540px;
}

.calculator {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    margin-bottom: 32px;

    &--theme {
      font-weight: 700;
      font-size: 12px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
    }
  }

  &__result {
    background: $result-bg;
    border-radius: $border-radius;
    text-align: end;
    padding: 38px 32px 36px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.8px;
    color: $white;
  }

  &__body {
    background: $calculator-bg;
    border-radius: $border-radius;
    padding: 32px;

    &--inputs {
      margin-bottom: 24px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 24px;
      text-align: center;
      border-radius: $border-radius;
    }

    &--actions {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      text-align: center;
    }
  }
}
