// Imports
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

// Variables
$dark-blue: #4d96a9;
$dark-blue-span: #8fe3f9;
$dark-blue-hover: #71c0d4;
$purple: #855fb1;
$purple-span: #d9b8ff;
$purple-hover: #b18bdd;
$dark: #28283d;
$light: #87879d;
$white: #fafafa;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// CSS
html {
  font-size: 18px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 26px;
  font-weight: 500;
  background-color: $white;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  color: $dark;
}

h2 {
  font-size: 40px;
  line-height: 44px;
}

h1,
h2,
.btn,
.text--overline,
.section__number {
  font-weight: 900;
}

.btn,
.text--overline,
.section__number {
  line-height: 26px;
}

.section__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 0.889rem;
  color: $light;
  background: $white;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  width: 3.111rem;
  height: 3.111rem;

  &::before {
    content: "";
    width: 1px;
    height: 4.667rem;
    background-color: rgba(135, 135, 157, 0.25);
    position: absolute;
    top: -85px;
    left: 50%;
  }

  &--01 {
    margin-top: 194px;
    margin-bottom: 64px;
  }

  &--02 {
    margin-top: 171px;
    margin-bottom: -26px;
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  color: $white;
  background-color: $dark;
  border-radius: 29px;
  padding: 0.889rem 2.222rem;
  max-height: 3.222rem;

  &--darkblue {
    background-color: $dark-blue;

    &:hover {
      background-color: $dark-blue-hover;
    }

    span {
      color: $dark-blue-span;
    }
  }

  &--purple {
    background-color: $purple;

    &:hover {
      background-color: $purple-hover;
    }

    span {
      color: $purple-span;
    }
  }
}

.text--gray {
  color: $light;
}

.logo {
  padding-top: 80px;
  padding-bottom: 60px;
  display: block;
  margin: auto;
}

.hero__img--tablet {
  display: none;
}

header section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 6.111rem;
  overflow-x: hidden;

  h1 {
    padding-bottom: 1.889rem;
    padding-top: 57px;
  }

  p {
    padding-bottom: 2.667rem;
  }

  h1,
  p {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .header--left {
    transform: translateX(-32px);
    margin-bottom: 55px;
  }

  .header--middle {
    margin: auto auto 20px auto;
  }

  .header--right {
    transform: translateX(32px);
    margin-top: 55px;
  }

  .btn {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .btn--darkblue {
    margin-right: 0.444rem;
  }

  .btn--purple {
    margin-left: 0.444rem;
    padding: 0.889rem 1.611rem;
  }
}

main {
  h2 {
    padding-bottom: 32px;
  }

  .main__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 80px;

    img {
      border-radius: 8px;
      width: 255px;
      height: 242px;
    }
  }

  .main__text {
    max-width: 540px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;

    h2 {
      max-width: 445px;
      margin: auto;
    }
  }

  .text--overline {
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    padding-bottom: 16px;
  }
}

footer {
  background: url("../assets/desktop/image-footer.png"), $dark-blue;
  background-size: cover;

  section {
    padding: 116px 165px 104px 165px;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    display: flex;
    color: $white;
  }
}

// Tablet
@media (max-width: 1280px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }

  main {
    .main__gallery {
      gap: 11px;
      padding-bottom: 48px;

      img {
        width: 164px;
        height: 156px;
      }
    }
  }

  .logo {
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .hero__img--tablet {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    margin-bottom: 72px;
  }

  header section {
    h1 {
      padding-top: unset;
    }

    .header--left {
      display: none;
    }

    .header--right {
      display: none;
    }
  }

  footer {
    background: url("../assets/tablet/image-footer.png"), $dark-blue;
    background-position: center;
    background-size: cover;

    section {
      padding: 92px 98px 66px 98px;
      flex-direction: column;
      text-align: center;

      h2 {
        padding-bottom: 32px;
      }

      p {
        padding-bottom: 40px;

        br {
          display: none;
        }
      }
    }
  }
}

// Phone
@media (max-width: 480px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  p {
    font-size: 16px;
  }

  main {
    .main__gallery {
      gap: 25px;
      padding-bottom: 64px;

      img {
        width: 151px;
        height: 143px;
      }
    }

    .text--overline {
      padding-bottom: 24px;
    }
  }

  .logo {
    padding-bottom: 54px;
  }

  .hero__img--tablet {
    margin-bottom: 48px;
  }

  header section {
    .header--middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

    .btn--darkblue {
      margin-right: unset;
      margin-bottom: 16px;
    }

    .btn--purple {
      margin-left: unset;
    }
  }

  footer {
    background: url("../assets/mobile/image-footer.png"), $dark-blue;
    background-position: center;
    background-size: cover;

    section {
      padding: 92px 24px 72px 24px;

      h2 {
        padding-bottom: 24px;
      }

      p {
        padding-bottom: 32px;
      }
    }
  }

  .section__number {
    &--01 {
      margin-top: 153px;
      margin-bottom: 64px;
    }

    &--02 {
      margin-top: 163px;
      margin-bottom: -26px;
    }
  }

  .text--gray {
    br {
      display: none;
    }
  }

  .main__gallery,
  header section,
  .main__text {
    padding-left: 24px;
    padding-right: 24px;
  }
}
