// Imports
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

// Variables
$dark-blue: #4d96a9;
$dark-blue-span: #8fe3f9;
$dark-blue-hover: #71c0d4;
$purple: #855fb1;
$purple-span: #d9b8ff;
$purple-hover: #b18bdd;
$dark: #28283d;
$light: #87879d;
$white: #fafafa;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// CSS
html {
  font-size: 18px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.444rem;
  font-weight: 500;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3.556rem;
  line-height: 3.556rem;
  color: $dark;
}

h2 {
  font-size: 2.222rem;
  line-height: 2.444rem;
}

h1,
h2,
.btn,
.text--overline,
.section--number {
  font-weight: 900;
}

.btn,
.text--overline,
.section--number {
  line-height: 1.444rem;
}

.logo {
  padding-top: 4.444rem;
  padding-bottom: 3.333rem;
}

.section--number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 0.889rem;
  color: $light;
  background: $white;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  width: 3.111rem;
  height: 3.111rem;

  &::before {
    content: "";
    width: 1px;
    height: 4.667rem;
    background-color: rgba(135, 135, 157, 0.25);
    position: absolute;
    top: -85px;
    left: 50%;
  }

  &--01 {
    margin-top: 194px;
    margin-bottom: 64px;
  }

  &--02 {
    margin-top: 171px;
    margin-bottom: -26px;
  }
}

.btn {
  text-decoration: none;
  cursor: pointer;
  color: $white;
  background-color: $dark;
  border-radius: 29px;
  padding: 0.889rem 2.222rem;
  max-height: 3.222rem;

  &--darkblue {
    background-color: $dark-blue;

    &:hover {
      background-color: $dark-blue-hover;
    }

    span {
      color: $dark-blue-span;
    }
  }

  &--purple {
    background-color: $purple;

    &:hover {
      background-color: $purple-hover;
    }

    span {
      color: $purple-span;
    }
  }
}

.text--gray {
  color: $light;
}

header {
  display: flex;
  margin-bottom: 6.111rem;
  overflow-x: hidden;

  h1 {
    padding-bottom: 1.889rem;
  }

  p {
    padding-bottom: 2.667rem;
  }

  h1,
  p {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .top--left {
    transform: translateX(-32px);
  }

  .top--right {
    transform: translateX(32px);
  }

  .btn {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .btn--darkblue {
    margin-right: 0.444rem;
  }

  .btn--purple {
    margin-left: 0.444rem;
    padding: 0.889rem 1.611rem;
  }
}

main {
  h2 {
    padding-bottom: 0.889rem;
  }

  .gallery {
    display: flex;
    justify-content: center;
    gap: 1.667rem;
    padding-bottom: 4.444rem;

    img {
      border-radius: 8px;
      width: 14.167rem;
      height: 13.444rem;
    }
  }

  .container--text {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin: auto;

    h2 {
      max-width: 445px;
      margin: auto;
    }
  }

  .text--overline {
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 0.889rem;
    letter-spacing: 0.222rem;
    padding-bottom: 0.889rem;
  }
}

footer {
  background: url("../assets/desktop/image-footer.png"), $dark-blue;
  background-size: cover;

  .footer__content {
    padding: 116px 165px 104px 165px;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    display: flex;
    color: $white;
  }
}

// Tablet
@media (max-width: 768px) {
}

// Phone
@media (max-width: 480px) {
}
