.modal {
  &__infos,
  &__restart {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    &--content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 220px;
      width: 100vw;
      padding: 48px 32px;
      color: $silver;
      background: $semi-dark-navy;
      text-align: center;

      p {
        font-family: "Outfit";
        font-style: normal;
        text-transform: uppercase;
      }
    }

    &--title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 1.5px;
      color: $silver;
      margin-bottom: 24px;
    }

    &--player {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.875px;
      margin-bottom: 16px;
    }

    &--winner {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 1.5px;
      color: $light-yellow;
      margin-bottom: 24px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
