* {
  font-family: "Karla", sans-serif;
}

ul {
  list-style-type: none;
}

.logo {
  width: 4rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  background: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: $whiter;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  h1 {
    font-weight: 300;
    font-family: "Frank Ruhl Libre", serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 632px) {
      justify-content: space-between;
      align-items: unset;
      margin: 16px;
    }
  }

  li {
    display: inline;
    @media screen and (max-width: 632px) {
      display: block;
      text-align: right;
      margin-bottom: 16px;
    }

    text-transform: uppercase;
    padding-left: 16px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.link {
  position: relative;

  &::before {
    content: "";
  }

  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }

  &--navbar::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }

  &--navbar:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
}

.hero {
  &__text {
    align-self: center;
    text-align: center;
    max-width: 300px;

    p {
      text-transform: uppercase;
      padding-top: 16px;
    }
  }

  &__spacer {
    letter-spacing: -2px;
  }

  &__down-a {
    align-self: center;
  }

  &__down-arrow {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 16px;
    width: 32px;
    height: 29px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
}

main {
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: $main-bg;
  color: $brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;

  .logo--certified {
    width: 8rem;
    position: absolute;
    top: 104vh;
    right: 28vw;
    @media screen and (max-width: 632px) {
      top: 170vh;
    }
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 32px;
  }

  a {
    text-decoration: none;
    color: $brown;
    border-bottom: 1px solid $brown;
  }

  h2,
  a {
    text-transform: uppercase;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 32px;
  }

  section {
    background-color: #fff;
    max-width: 50vw;
    @media screen and (max-width: 1508px) {
      max-width: 65vw;
    }
    @media screen and (max-width: 768px) {
      max-width: 70vw;
    }

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (max-width: 632px) {
      display: block;
    }

    div:nth-child(even) {
      padding: 4rem 4rem 4rem 0px;
      @media screen and (max-width: 632px) {
        padding: 4rem;
      }
    }

    div:nth-child(odd) {
      padding: 4rem 0px 4rem 4rem;
      @media screen and (max-width: 632px) {
        padding: 4rem;
      }
    }

    img {
      height: 24.063rem;
      @media screen and (max-width: 632px) {
        object-fit: cover;
        width: 100%;
      }
    }

    img:nth-child(odd) {
      transform: translate(-4rem, 4rem);
      @media screen and (max-width: 632px) {
        transform: none;
      }
    }

    img:nth-child(even) {
      margin-left: auto;
      transform: translate(4rem, 4rem);
      @media screen and (max-width: 632px) {
        transform: none;
      }
    }

    p {
      font-family: "Frank Ruhl Libre", serif;
    }
  }
}

footer {
  background-color: $footer-bg;
  color: $whiter;
  padding-top: 64px;
  padding-bottom: 48px;

  ul li a > img {
    width: 1.25rem;
  }

  a {
    color: $whiter;
  }

  .logo {
    padding-bottom: 48px;
  }
}

.footer {
  &__content {
    margin: 0 auto;
    max-width: 55vw;
    @media screen and (max-width: 1508px) {
      max-width: 75vw;
    }
    @media screen and (max-width: 768px) {
      max-width: 80vw;
    }
  }

  &__links {
    gap: 5vw;
    display: flex;
    @media screen and (max-width: 632px) {
      flex-direction: column;
    }

    margin-bottom: 48px;
    opacity: 0.75;

    &--social {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    &--title {
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }

  &__copyright {
    font-size: 0.75rem;
    opacity: 0.5;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1162px) {
  html {
    font-size: 12px;
  }
}
